#=============================
# 忽略所有文件但不忽略目录结构
*.*
*
!*/
#==============================

!Makefile
!*.mk
!/constr/*
!/constr/*.*
!*.[cSh]
!*.v
!*.vh
!*.cc
!*.cpp
!.gitignore
!README.md
# 忽略build下的所有文件
build/
